*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.pagina-login{
    display: flex;
}

.sidebar{
    width: 30%;
    height: 605px;
    display: flex;
}

.formulario-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: flex-start;
}

.background{
    display: flex;
    background-image: url('../assets/walppaper_telaDeLogin.jpg');
    background-size: cover;
    width: 70%;
    color: #FFFFFF;
}